<div class="container">
    <h1>{{kat?.KategoriAdi}} Dersindeki Ödevler</h1>
  <h3 style="color: tomato;" *ngIf="odevler?.length==0">Henüz bu derse ait ödev girilmemiştir!</h3>
  <div *ngFor="let Odev of odevler">
        <h3>{{Odev.Baslik}}</h3>
        <p>
            <b>Ders: </b>{{Odev.KategoriAdi}} &nbsp;
            <b>Tarih: </b>{{Odev.Tarih}} &nbsp;
            <b>Yazan: </b> <a href="#" [routerLink]="['/uyeodev',Odev.UyeId]">{{Odev.UyeKadi}}</a> &nbsp;
            <b>Görüntülenme: </b>{{Odev.Goruntulenme}} &nbsp;
            <a href="#" [routerLink]="['/odev',Odev.OdevId]">Ödevi incele</a>
        </p>
        <hr>
    </div>
    </div>