<div class="container">
  <h2>Dersler</h2>
  <button mat-fab matTooltip="Kategori Ekle" color="primary" style="background-color: #FF6666;" (click)="Ekle()">
    <mat-icon aria-label="label"   style="background-color: #FF6666;">add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="background-color: #FF6666;">
    <ng-container matColumnDef="KategoriAdi" >
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white; font-size:17px"> Ders Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit" style="color: white;"> {{kayit.KategoriAdi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="KatOdevSay" matSort>
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color: white; font-size:17px"> Ödev Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit" style="color: white;"> {{kayit.KatOdevSay}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef style="color: white; font-size:17px"> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="primary" matTooltip="Ödev Listele">
          <mat-icon aria-label="label">list</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="Kategori Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        
        <button mat-icon-button color="warn" matTooltip="Kategori Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator   [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>