<div class="admin">
  <h2>Yönlendirme Paneli</h2>
  <p>Diğer Sayfalara Erişmek İçin Aşağıdan Tıklayınız</p>
  <ul>
    <li>
      <button mat-button routerLink="/admin/odev" style="background-color: #FF6666; width:100%; font-size: 18px; color:white">Ödevler</button>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li>
      <button mat-button routerLink="/admin/kategori" style="background-color: #FF6666; width:100%; font-size: 18px; color:white">Dersler</button>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li>
      <button mat-button routerLink="/admin/uye" style="background-color: #FF6666; width:100%; font-size: 18px; color:white">Üyeler</button>
    </li>
  </ul>
</div>
